<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <title>About</title>
</head>
<body>
  <!-- HEADER -->
  <header class="header-container">
    <div class="header">
      <div class="checkbox-container">
        <div class="chackbox-wrapper">
          <input type="checkbox" id="toggle">
          <label class="checkbox" for="toggle">
            <div class="trace"></div>
            <div class="trace"></div>
            <div class="trace"></div>
          </label>
          <div class="menu"></div>
          <nav class="menu-items">
            <ul>
              <li>
                <a target="_self" href="index.html" rel="prev">Home</a>
              </li>
              <li>
                <a target="_self" href="about.html">About</a>
              </li>
              <li>
                <a target="_self" href="projects.html" rel="next">Projects</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <H1>Thales Ribeiro</H1>
    <h2>Back-end developer</h2>
    <div class="social-media">
      <a href="https://www.linkedin.com/in/thalesoficial/">Linkedin</a>
      <a href="https://github.com/CodeThales">Github</a>
    </div>
  </header>

  <!-- MAIN -->
  <main class="container">
    <div class="card-container">
      <div class="card">
        <div class="card-wrapper">
          <h2>About me</h2>          
        </div>
      </div>
      <div class="card-text">
        Sou Thales Ribeiro, pai da Maya e fazendo uma transição de carreira para a área de tecnologia...  
      </div>
    </div>     
  </main>

  <!-- FOOTER -->
  <footer class="footer">
    Feito por Thales Ribeiro em HTML | CSS | JavaScript.
  </footer >  
</body>
</html>
