<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <title>CodeThales | About</title>
</head>
<body>
  <!-- HEADER -->
  <header class="header-container">
    <div class="header">
      <div class="checkbox-container">
        <div class="chackbox-wrapper">
          <input type="checkbox" id="toggle">
          <label class="checkbox" for="toggle">
            <div class="trace"></div>
            <div class="trace"></div>
            <div class="trace"></div>
          </label>
          <div class="menu"></div>
          <nav class="menu-items">
            <ul>
              <li>
                <a target="_self" href="../index.html" rel="prev">Home</a>
              </li>
              <li>
                <a target="_self" href="about.html">About</a>
              </li>
              <li>
                <a target="_self" href="projects.html" rel="next">Projects</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <H1>Thales Ribeiro</H1>
    <h2>Back-end developer</h2>
    <div class="social-media">
      <a target="_blank" rel="external" href="https://www.linkedin.com/in/thalesoficial/">Linkedin</a>
      <a target="_blank" rel="external" href="https://github.com/CodeThales">Github</a>
    </div>
  </header>

  <!-- MAIN -->
  <main class="container">    
      <div class="card-text">
        Meu nome é Thales, tenho 32 anos, sou casado com a Thay e sou pai da Maya de 3 anos. Nós moramos em Embu das Artes, no estado de São Paulo. Foi aqui que nasci e fui criado. 
        Meus avós maternos vieram do estado da Bahia; já os paternos do estado de Minas Gerais e Paraná. 
        Os meus pais nasceram aqui mesmo e se conhecem desde criança. Se casaram quando tinham 19 anos de idade e eu  sou o primeiro dos  quatro filhos que tiveram.

        Desde que me lembro sou apaixonado por música e estudo essa arte. É meu hobby favorito. Me ajuda a 'desopilar' juntamente com práticas de meditação. 

        Outras de minhas práticas no tempo livre são aprender sobre tecnologia e filosofia. Eu leio bastante e amo a diversidade artística e intelectual que a humanidade é capaz de produzir. Penso que tenho sorte em viver os dias atuais, pois apesar de todas as dificuldades, me possibilita ter contato com uma infinidade de culturas e conhecimentos, daqui de meu escritório através da tela do meu computador. Como você pode perceber, eu gosto de aprender coisas diferentes.

        Há alguns anos tive contato com a área da neurociência. Me foi apresentado pelo Sr. Joaquim. Ele é proprietário de uma empresa em que trabalhei. Cito este detalhe pois creio que teve grande impacto e relevância na pessoa que sou hoje e em minha carreira profissional. Serei eternamente grato a este homem.
        Estudei e vivenciei essa ciÊncia durante alguns anos e foi ali que comecei a entender o que eram as soft skills e como desenvolvê-las para ser uma pessoa melhor.

        É claro que este é o trabalho para uma vida inteira, e tenho consciência de que tenho muito a aprender. O que quero dizer é que hoje estou melhor do que ontem, e estou trabalhando para que amanhã seja melhor do que hoje. Acredito que pode ser assim para qualquer pessoa comprometida com seu desenvolvimento.

        Trabalhei em diversas áreas e com as coisas mais variadas possíveis até encontrar, finalmente, o que quero fazer para o resto da minha vida. Este site é um exemplo vivo deste processo, porque eu penso que o caminho seguro é o do conhecimento, e que através da conexão nós podemos causar uma verdadeira transformação em nós e no mundo.

        Finalmente chegamos aos dias atuais, onde me coloco à disposição do mercado para encontrar uma empresa que tenha a ver com minha visão de mundo. Procuro um lugar onde o valor humano seja reconhecido, onde haja liberdade de ideias e possibilidade de inovação e crescimento. Os próximos capítulos estão sendo escritos neste exato momento. Talvez você esteja lá e faça parte dessa história.

        Até breve.
  
      </div>        
  </main>

  <!-- FOOTER -->
  <footer class="footer">
    Escrito e estilizado por Thales Ribeiro com HTML e CSS em setembro de 2021.
  </footer >  
</body>
</html>
