<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <title>Portifolio</title>
</head>
<body>
  <!-- HEADER -->
  <header class="header-container">
    <div class="header">
      <div class="checkbox-container">
        <div class="chackbox-wrapper">
          <input type="checkbox" id="toggle">
          <label class="checkbox" for="toggle">
            <div class="trace"></div>
            <div class="trace"></div>
            <div class="trace"></div>
          </label>
          <div class="menu"></div>
          <nav class="menu-items">
            <ul>
              <li>
                <a href="#">Home</a>
              </li>
              <li>
                <a href="#">About</a>
              </li>
              <li>
                <a href="#">Projects</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <H1>Thales Ribeiro</H1>
    <h2>Back-end developer</h2>
    <div class="social-media">
      <a href="https://www.linkedin.com/in/thalesoficial/">Linkedin</a>
      <a href="https://github.com/CodeThales">Github</a>
    </div>
  </header>

  <!-- MAIN -->
  <main class="container">
    <div class="card-container">
      <div class="card">
        <div class="card-wrapper">
          <h2>API RESTfull</h2>
          <p>Vem ver!</p>
        </div>
      </div>
      <div class="card-text">
        Uma API RESTfull somente para as melhores músicas, desenvolvida em .Net com SQLServer, Registro de usuário, Authenticação por Token [Bearer], Definição de Roles, CRUD com requests complexas e segurança contra SQL Injection - 9 endpoins, documentação no Swagger, testes unitários FACT, THEORY e deploy no Azure.  
      </div>
    </div>

    <div class="card-container">
      <div class="card">
        <div class="card-wrapper">
          <h2>MVC Web app</h2>
          <p>Vem ver!</p>
        </div>
      </div>
      <div class="card-text">
        Aplicação Web em ASP-Net com EntityFramework, Identity e Login por facebook 
      </div>
    </div>

    <div class="card-container">
      <div class="card">
        <div class="card-wrapper">
          <h2>CRUD Python SQL</h2>
          <p>Vem ver!</p>
        </div>
      </div>
      <div class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur numquam, quis distinctio sint officia laudantium inventore explicabo, doloremque asperiores modi nihil, praesentium nulla saepe sit? Saepe et facere placeat error?
      </div>
    </div>    
  </main>

  <!-- FOOTER -->
  <footer class="footer">
    Feito por Thales Ribeiro em HTML | CSS | JavaScript.
  </footer >  
</body>
</html>
