<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <title>CodeThales | Projects</title>
</head>
<body>
  <!-- HEADER -->
  <header class="header-container">
    <div class="header">
      <div class="checkbox-container">
        <div class="chackbox-wrapper">
          <input type="checkbox" id="toggle">
          <label class="checkbox" for="toggle">
            <div class="trace"></div>
            <div class="trace"></div>
            <div class="trace"></div>
          </label>
          <div class="menu"></div>
          <nav class="menu-items">
            <ul>
              <li>
                <a target="_self" href="../index.html" rel="prev">Home</a>
              </li>
              <li>
                <a target="_self" href="about.html" rel="prev">About</a>
              </li>
              <li>
                <a target="_self" href="projects.html">Projects</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <H1>Thales Ribeiro</H1>
    <h2>Back-end developer</h2>
    <div class="social-media">
      <a target="_blank" rel="external" href="https://www.linkedin.com/in/thalesoficial/">Linkedin</a>
      <a target="_blank" rel="external" href="https://github.com/CodeThales">Github</a>
    </div>
  </header>

  <!-- MAIN -->
  <main>
    
    <h2 class="habout">API RESTfull</h2>    
    <p class="pabout">API RESTfull desenvolvida em ASP Net</p>       

    <hr>
    
    <h2 class="habout">MVC Web app</h2>   
    <p class="pabout">Aplicação Web em ASP-Net com EntityFramework, Identity e Login por facebook </p>    

    <hr> 
      
    <h2 class="habout">CRUD Python SQL</h2>   
    <p class="pabout">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur numquam, quis distinctio sint officia laudantium inventore explicabo, doloremque asperiores modi nihil, praesentium nulla saepe sit? Saepe et facere placeat error?</p>   
      
  </main>

  <!-- FOOTER -->
  <footer class="footer">
    Escrito e estilizado por Thales Ribeiro com HTML e CSS em setembro de 2021.
  </footer >  
</body>
</html>
