<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/style.css">
  <title>CodeThales | Projects</title>
</head>
<body>
  <!-- HEADER -->
  <header class="header-container">
    <div class="header">
      <div class="checkbox-container">
        <div class="chackbox-wrapper">
          <input type="checkbox" id="toggle">
          <label class="checkbox" for="toggle">
            <div class="trace"></div>
            <div class="trace"></div>
            <div class="trace"></div>
          </label>
          <div class="menu"></div>
          <nav class="menu-items">
            <ul>
              <li>
                <a target="_self" href="../index.html" rel="prev">Home</a>
              </li>
              <li>
                <a target="_self" href="about.html#about" rel="prev">About</a>
              </li>
              <li>
                <a target="_self" href="projects.html">Projects</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <H1>Thales Ribeiro</H1>
    <h2>Back-end developer</h2>
    <div class="social-media">
      <a target="_blank" rel="external" href="https://www.linkedin.com/in/thalesoficial/">Linkedin</a>
      <a target="_blank" rel="external" href="https://github.com/CodeThales">Github</a>
    </div>
  </header>

  <!-- MAIN -->
  <main><a name="projects"></a>
    
    <h2 class="habout"><a name="mvc">MVC Web application</a></h2>   
    <p class="pabout">Aplicação Web em ASP Net para gerenciamento de clientes, serviços e agendamento com live chat.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/cnhNpzHvK0o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
    <p class="pabout">Veja o código no meu repositório do<strong><a href="https://github.com/CodeThales/ProjetoFinal-Modulo03.git"> Github</a></strong></p>
    
    <hr>
    
    <h2 class="habout"><a name="api">API RESTfull com Bearer Authentication</a></h2>    
    <p class="pabout">API desenvolvida em ASP Net para consumir músicas sensacionais.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/U3U4ErlUWKE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>       
    <p class="pabout">Veja o código no meu repositório do<strong><a href="https://github.com/CodeThales/BlueMusic-BearerAuthToken.git"> Github</a></strong></p>    

    <hr> 
      
    <h2 class="habout"><a name="crud">CRUD Python/Flask com PostgreSQL</a></h2>   
    <p class="pabout">Apicação em Python para cadastro e doação de alimentos.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/yKGVLUX_nrE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p class="pabout">Veja o código no meu repositório do <strong> <a href=""> Github</a></strong></p>
    
    <hr> 
      
    <h2 class="habout"><a name="crud">CRUD Completo com Python/Flask SQL</a></h2>   
    <p class="pabout">Apicação para cadastro e gerenciamento de livros para programadores.</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/DrSN5Bpqvyk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p class="pabout">Veja o código no meu repositório do<strong><a href="https://github.com/CodeThales/Projeto-CRUD-PythonFlask-PostgreSQL-DBeaver.git"> Github</a></strong></p>
      
  </main>

  <!-- FOOTER -->
  <footer class="footer">
    Escrito e estilizado por Thales Ribeiro com HTML e CSS em setembro de 2021.
  </footer >  
</body>
</html>
